
/* Listen */

ul#adver{
}

ul#adver li img{
	width:380px;
	height:220px;
	overflow:hidden
}

.fade{
padding:0;
}

.fade p{
	margin-bottom: 2em;
	text-align: center;
	width: 100%;
	background: #fff;
}
	
