@charset "utf-8";
/* CSS Document */ 


/*-----------heraders-forms---------------*/
.box.top {
	width:970px;
	padding:10px;
	background:#fff url(../img/bg_box_top.jpg) bottom no-repeat;
	min-height:116px;
	float:left;
}
.box.top p {
	float:right;
	max-width:550px;
	line-height:18px;
}
/*---------------forms------------------*/
#browser .content_form {
	width:250px;
	height:auto;
	float:right;
	margin:10px 20px 0 0;
}
select.home, input.home {
	width:250px;
	padding:.1em;
	margin-bottom:5px;
}
form.nueva_busqueda {
	width:660px;
	margin:0 auto;
	padding-top:10px;
	float:left;
}
form.nueva_busqueda input, form.nueva_busqueda select {
	width:200px;
	margin-right:10px;
}

/*-----------General---------------*/
form {
	font:11px/14px tahoma;
	color:#666
}
select, input, textarea {
	font:11px tahoma;
	background:#f5ffff;
	border: solid 1px #c8e8f0;
	-moz-border-radius:2px;
	-moz-border-radius:2px;
}
textarea { padding:5px;}
select:hover, input:hover, textarea:hover{
	background: #F2F2F2;
}
select, input{
	padding:2px;
}
/*------------------de zona jobs-----------------*/

div.mycv{
	width:680px;
	float:left;
	margin-top:10px;
}
div.bloque, fieldset{
	margin-bottom:10px;
	float:left;
}
.mycv .item {
	float:left;
	text-align:right;
	width:200px;
	margin-right:20px;
}
.mycv .datos {
	float:left;
	width:400px;
	margin-bottom:8px;
}

.mycv .datos.button{
	margin-top:15px;
	padding-left:300px;
}

.mycv .required{
	border:1px solid #2233cc
}

.mycv .error{
	border:1px solid #ff0000
}

.mycv input.button, .mycv form-submit{
	width:auto;
	height:23px;
	background:url(../img/bg_btn_orange.png) repeat-x;
	padding:0 5px 2px 5px;
	border:1px solid #FF9900;
	color:#FFF;
	font-weight:bold;
	float:left;
	cursor:pointer
}
.mycv input.button:hover{ background: url(../img/bg_btn_orange_hover.png) repeat-x;}
.itemTitle, fieldset legend{ 
	font:bold 11px/20px tahoma;
	display: block;
	padding-left:50px;
	border:1px solid #FFECC6;
	border-bottom:1px solid #FFDF71;
	margin-bottom:10px;
	background:url(../img/bg_titles.png) repeat-x;
	height:20px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
}
.item.req{ 
	font-weight:bold;
	color:#1C77A8
}
input.req, select.req{border:1px solid #3399cc;
}
.puntos{ border-top:1px dotted #C1DAF4 ;
}
/*------esto creo q se puede sacar
label.check{ margin-right:10px;}
input.check{ background:none; border:0}
*/
/*------CAMBIOS 29/03--------*/
.mycv .form-item label {/*----igual a las class .item .req---*/
	text-align:right;
	width:250px;
	margin-right:20px;
	font-weight:bold;
	color:#1C77A8;
	display:inline-block;
	margin-bottom:10px;
}
.mycv .form-item .form-radios, .mycv .form-item .form-checkboxes{
    width:360px;
   	margin:0 0 10px 273px;
}
.mycv .form-item .form-radios label.option{
     text-align:left;
     width:auto;
}
.mycv .form-item label.option input.form-radio{
	text-align:left;
	width:auto;
	margin-right:7px;
	}
.mycv .form-item .container-inline{
	color:#CCAAAA;
    width:360px;
    margin-left:273;
	margin-bottom:10px;
	
}

.mycv .form-item .container-inline .form-select{
    width:360px;
    margin-bottom:5px;
}
.mycv .form-item select {
	width:360px;
	size:60;	
}
.mycv .form-item .form-checkboxes label.option{
	text-align:left;
	}
.mycv .form-item .form-checkboxes label.option input{
	width:auto;
	margin-right:7px;
	}
.mycv .form-item input, .mycv textarea{
	width:360px;	
}

/*------ojo cambio de 280 a 360 y description -------*/
.mycv .form-item div.description, .mycv ul.tips, .mycv p{
	color:#999;
	width:280px;
	margin:0 0 10px 275px;
	}
.mycv p a{
	text-decoration:underline
}
label span.form-required{
	color:#F96;	
}
.mycv fieldset legend{
	width:600px;
	color:#f93;
}
input.form-submit{
	height:23px;
	width:80px; 
	background:url(../img/bg_btn_orange.png) repeat-x;
	padding:0 5px 2px 5px;
	border:1px solid #FF9900;
	color:#FFF;
	font-weight:bold;
	cursor:pointer;
	margin:10px 0 20px 0;
	display:inline;
}
input.form-submit:hover{
	background: url(../img/bg_btn_orange_hover.png) repeat-x;
}
	
	
/*------fin de cambios 22/03-------*/
/*-----login------*/
.mycv.log{
	width:310px;
	height:210px;
	background:#fff url(../img/bg_form_log.png) bottom repeat-x;
	margin:0 0 10px 0;
	padding:10px;
	border:1px solid #FFCC33;
}
li.bulet_o{background:url(../img/bullet_orange.gif)0 5px no-repeat; padding-left:15px;}

/*------------TABLA gris-------------------*/
.tablaGris {
	width:100%;
	background-color:#c8e8f0;
	float:left;
	margin-top:10px;
}
.tablaGris tr, .tablaAviso tr {
	background-color:#fff;
}
.tablaGris td {
	padding:5px;
	vertical-align:middle;
	font:11px/14px Tahoma, Arial;
}
.techo, thead tr td {
	background-color:#f5ffff;
	border:1px solid #fff;
	padding:0px;
	color:#1C77A8;
}
.divisor td {
	background-color:#f7f7f7;
}

.tablaGris b.azul {
	display:inline;
}
.tablaGris td.new {
	position:relative!important;
	display:block!important;
}
.tablaGris td.new a.new {
	position:relative;
}
.tablaGris td.new img.new {
	position:absolute;
	left:30px;
	top:12px;
}
.referencias {
	width:100%;
}
.referencias td {
	width:25%;
}
.referencias td img {
	float:left;
	margin-right:10px;
}