@charset "utf-8";
/* CSS Document */ 


/*---------------forms------------------*/
#browser .content_form {
	width:250px;
	height:auto;
	float:right;
	margin:10px 20px 0 0;
}
select.home, input.home {
	width:256px;
	padding:.1em;
	margin-bottom:5px;
}
form.nueva_busqueda {
	width:660px;
	margin:0 auto;
	padding-top:10px;
	float:left;
}
form.nueva_busqueda input, form.nueva_busqueda select {
	width:200px;
	margin-right:10px;
}

/*-----------General------------*/
form {
	font:11px/14px tahoma;
	color:#666
}
select, input, textarea {
	font:11px tahoma;
	background:#f5ffff;
	border: solid 1px #c8e8f0;
	-moz-border-radius:2px;
	-moz-border-radius:2px;
}
textarea { padding:5px;}
select:hover, input:hover, textarea:hover{
	background: #F2F2F2;
}
select, input{
	padding:2px;
}
.mycv input.btn_gral{
	margin:10px 10px 10px 0; 
	padding:0 15px 3px 15px;
}
/*------------forms--------------*/

div.mycv{
	width:680px;
	float:left;
	margin-top:10px;
}
div.mycv .bloque p{
	padding:0;
	margin:0;
	color:#666;
}
div.bloque, fieldset{
	margin-bottom:10px;
	float:left;
}
.mycv .item {
	float:left;
	text-align:right;
	width:200px;
	margin-right:20px;
}
.mycv .datos {
	float:left;
	width:400px;
	margin-bottom:8px;
}

.mycv .datos.button{
	margin-top:15px;
	padding-left:300px;
}

.mycv .required{
	border:1px solid #1C77A8
}

.mycv .error{
	border:1px solid #ff0000
}

.mycv input.button, .mycv form-submit{
	width:auto;
	height:23px;
	background:url(../img/bg_btn_orange.png) repeat-x;
	padding:0 5px 2px 5px;
	border:1px solid #FF9900;
	color:#FFF;
	font-weight:bold;
	float:left;
	cursor:pointer
}
.mycv input.button:hover{ background: url(../img/bg_btn_orange_hover.png) repeat-x;}
.itemTitle, fieldset legend{ 
	font:bold 11px/20px tahoma;
	display: block;
	padding-left:50px;
	border:1px solid #F93;
	border-bottom:1px solid #f93;
	margin-bottom:10px;
	background:url(../img/bg_titles.png) repeat-x;
	height:20px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.item.req{ 
	font-weight:bold;
	color:#1C77A8
}
input.req, select.req{border:1px solid #3399cc;
}
.puntos{ border-top:1px dotted #C1DAF4 ;
}

/*------CAMBIOS 29/03--------*/

.mycv .form-item label {/*----igual a las class .item .req---*/
	text-align:right;
	width:250px;
	margin-right:20px;
	font-weight:bold;
	color:#1C77A8;
	display:inline-block;
	/*margin-bottom:10px;*/
	font:bold 11px/14px Tahoma, Geneva, sans-serif;
}
.mycv .resizable-textarea .grippie{
	margin:0 0 0 273px;
	/*margin-bottom:10px;*/
}
.mycv .form-item .form-radios, .mycv textarea{
    max-width:350px;
}
.mycv .form-item label.option, .mycv textarea {
	margin:0 0 0 273px;
	/*margin-bottom:10px;*/
}
.mycv .imagefield-edit-image-flags .form-item label.option{
	margin:0
}
.mycv .form-item label.option{
	color:#333;
	text-align:left;
	}
.mycv .form-item label.option input{
	width:auto;
	margin-right:7px;
	}
.mycv .form-item .container-inline{
	color:#CCAAAA;
    width:360px;
    margin-left:273px;
	margin-bottom:10px;
}
.mycv .form-item .container-inline .form-select{
    width:360px;
    margin-bottom:5px;
}
.mycv .form-item select {
	width:360px;
	size:60px;
}
.mycv .form-item input, .mycv textarea{
	width:353px;
}
.mycv .form-item .form-checkboxes label.option input{
	width:auto;
	margin-right:7px;
	}
.mycv .form-item .description, .mycv ul.tips, .mycv p{
	color:#999;
	max-width:360px;
	margin:0 0 10px 275px;
	font:11px Tahoma;
	}
.mycv p a{
	text-decoration:underline
}
label span.form-required{
	color:#F96;	
}
.mycv fieldset legend{
	width:600px;
	color:#FA8605;
}
input.form-submit{
	height:23px;
	max-width:200px; 
	background:url(../img/bg_btn_orange.png) repeat-x;
	padding:0 5px 2px 5px;
	border:1px solid #FF9900;
	color:#FFF;
	font-weight:bold;
	cursor:pointer;
	margin:10px 0 10px 0;
	display:inline;
	
}
input.form-submit:hover{
	background: url(../img/bg_btn_orange_hover.png) repeat-x;
}
.mycv fieldset div.picture{
	width:85px;
	margin-left:273px;
	margin-bottom:10px;
}
.mycv fieldset.collapsible legend a, .mycv fieldset.collapsible legend a:hover{
	color:#FA8605;
	text-decoration:none
}

/*--*/
.mycv #edit-field-fecha-desde-0-value-wrapper .form-item, .mycv #edit-field-fecha-hasta-0-value-wrapper .form-item {
	padding:0;
	float:right;
	margin:0;
	width:auto;
}
.mycv #edit-field-fecha-desde-0-value-wrapper .form-item input {
	margin:0;
}
.mycv .container-inline-date .form-item{
	margin:5px 0;
}
/*--*/
div.falselabel{
	width:250px;
	text-align:right;
}
div.imagefield-edit-image-row{
	border:0;
	padding-left:275px;
}
div.imagefield-edit-image-row label.option {
	width:auto;
}
/*-----login------*/
.mycv.log{
	width:310px;
	height:230px;
	background:#fff url(../img/bg_form_log.png) bottom repeat-x;
	margin:0 0 10px 0;
	padding:10px;
	border:1px solid #FFCC33;
	color:#666;
}
li.bulet_o{background:url(../img/bullet_orange.gif)0 5px no-repeat; padding-left:15px;}

/*------------TABLA gris-------------------*/
.tablaGris {
	width:100%;
	background-color:#c8e8f0;
	float:left;
	margin-bottom:10px;
	border-collapse: inherit;
}
.tablaGris tr, .tablaAviso tr {
	background-color:#fff;
}
.tablaGris tr:hover {
	background-color: #EBEBEB;
}

.tablaGris tr.edit {
	background-color:#FF6;
}

.tablaGris tr.delete {
	background-color:#F90;
}

.tablaGris td {
	padding:3px 5px;
	vertical-align:middle;
	font:11px/14px Tahoma, Arial;
}
.techo, thead tr td {
	background-color:#f5ffff;
	border:1px solid #fff;
	padding:0px;
	color:#1C77A8;
}
.divisor td {
	background-color:#f7f7f7;
}

.tablaGris b.azul {
	display:inline;
}
.tablaGris td.new {
	position:relative!important;
	display:block!important;
}
.tablaGris td.new a.new {
	position:relative;
}
.tablaGris td.new img.new {
	position:absolute;
	left:30px;
	top:12px;
}
.referencias {
	width:100%;
}
.referencias td {
	width:25%;
}
.referencias td img {
	float:left;
	margin-right:10px;
}
