   /*
   
   notas
   
   */
   
   
   /*Date Sprite */
.postdate {
    position: relative;
    width: 53px;
    height: 50px;
    float: left;
}
.month, .day, .year {
    position: absolute;
    text-indent: -1000em;
    background-image: url(/sites/all/themes/empleos/img/date_img.png);
    background-repeat: no-repeat;
}
.month { top: 0; left: 0; width: 33px; height: 30px;}
.day { top: 20px; left: 0; width: 33px; height: 30px;}
.year { top: 0; left: 33px; width: 20px; height: 50px;}

.m-01 { background-position: 0 0px;}
.m-02 { background-position: 0 -30px;}
.m-03 { background-position: 0 -62px;}
.m-04 { background-position: 0 -94px;}
.m-05 { background-position: 0 -125px;}
.m-06 { background-position: 0 -155px;}
.m-07 { background-position: 0 -185px;}
.m-08 { background-position: 0 -217px;}
.m-09 { background-position: 0 -248px;}
.m-10 { background-position: 0 -279px;}
.m-11 { background-position: 0 -310px;}
.m-12 { background-position: 0 -341px;}

.d-01 { background-position: -51px 0;}
.d-02 { background-position: -51px -27px;}
.d-03 { background-position: -51px -57px;}
.d-04 { background-position: -51px -91px;}
.d-05 { background-position: -51px -122px;}
.d-06 { background-position: -51px -151px;}
.d-07 { background-position: -51px -185px;}
.d-08 { background-position: -51px -214px;}
.d-09 { background-position: -51px -249px;}
.d-10 { background-position: -51px -275px;}
.d-11 { background-position: -51px -309px;}
.d-12 { background-position: -51px -338px;}
.d-13 { background-position: -51px -373px;}
.d-14 { background-position: -51px -404px;}
.d-15 { background-position: -51px -436px;}
.d-16 { background-position: -51px -462px;}
.d-17 { background-position: -100px -0px;}
.d-18 { background-position: -100px -27px;}
.d-19 { background-position: -100px -57px;}
.d-20 { background-position: -100px -91px;}
.d-21 { background-position: -100px -122px;}
.d-22 { background-position: -100px -151px;}
.d-23 { background-position: -100px -185px;}
.d-24 { background-position: -100px -214px;}
.d-25 { background-position: -100px -249px;}
.d-26 { background-position: -100px -275px;}
.d-27 { background-position: -100px -309px;}
.d-28 { background-position: -100px -338px;}
.d-29 { background-position: -100px -373px;}
.d-30 { background-position: -100px -404px;}
.d-31 { background-position: -100px -436px;}

.y-2009 { background-position: -150px 0;}
.y-2010 { background-position: -150px -90px;}
.y-2011 { background-position: -150px -140px;}
.y-2012 { background-position: -150px -210px;}
.y-2013 { background-position: -150px -280px;}
.y-2014 { background-position: -150px -350px;}

div.contentNotas{
	width:550px;
	margin-left:70px;
}
.head-nota{
	float:left;
	width:660px;
}
div.nota h2, div.nota h2 a{
	font:normal 26px verdana;
	text-decoration: none;
	line-height: 30px;
	color:#1C77A8;
	
}
img.photo{
	width:250px;
	display:inline;
	margin:0 10px 10px 0;
	float:left
}
div.bajada {
	width:270px;
	padding:10px;
	font: bold 11px/20px tahoma;
	float:left;
	background:#F4F4F4;
}
div.cuerpo{
	margin-bottom:15px;
	color:#474747;
	line-height:20px;
	text-align:justify;
}
/*
div.bajada.ampliada{
	width:auto;
}
div.cuerpo.ampliado{
	float:left
}
------------------para cuando la nota no tiene foto--------*/
div.nota h3{
	color:#999;
	font-weight:bold;
	font:bold 12px/20px Verdana;
	padding-bottom:5px;
	