/* $Id: faq.css,v 1.1.2.7.2.3 2008/12/21 19:18:19 snpower Exp $ */
.faq-category-indent {
  padding-left: 20px;
}

.faq-more-link {
  font-size: 0.85em;
  margin-left: 30em;
  margin-top: 0;
  margin-bottom: -1.25em;
  text-align: right;
}

.faq-top-link {
  font-size: 0.8em;
  margin-top:0;
  margin-bottom: 0;
  padding-bottom: 1.0em;

}

.faq-question {
  padding-top: 5px;
  padding-left: 20px;
}

.faq-answer {
  padding-left: 40px;
}

.faq-dl-hide-answer {
  padding-bottom: 15px;
}
div.faq-question.faq-dt-hide-answer a{
	  color:#1C77A8;
	  font-weight:bold;
	}
img.faq-tax-image {
  float: left;
  padding: 0px 3px 0px 3px;
}

div.faq-category-header, div.faq-qa-header {
  overflow: auto;
}
div.faq-qa-header{
	border-bottom:1px solid #F90;
	max-width:675px;
	}
div.faq-qa-header h5.faq-header a{
	color:#F90;
	font-size:11px;
	line-height:18px;
	}





