/* Facebook Connect style */

div.clear { /* This is needed to clear the floated Facebook content with the rest of the Drupal profile content */
  clear: both;
}

dl.facebook_info {}

dl.facebook_info dl {
}
dl.facebook_info dt, div.facebook_info dd {
  line-height: 1.3em;
}
dl.facebook_info dt {
  float: left;
  clear: left;
  width: 120px;
  margin: 0;
}
  dl.facebook_info dd {
  float: left;
  margin: 0;
  width: 250px;
  padding: 0 0 5px 10px;
}